<h3 class="page-title">
    Add article
</h3>
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-green-sharp">
            <i class="fa fa-list font-green-sharp"></i> Article list
        </div>
    </div>
    <div class="portlet-body">
        <form name="form" class="form">
            <div class="form-group">
                <label class="control-label">Title</label>
                <input type="text" name="Title" class="form-control" ng-model="vm.Title" />
            </div>
            <div class="form-group">
                <label class="control-label">Content</label>
                <textarea class="form-control" ng-model="vm.Content"></textarea>
            </div>
            <div class="form-actions">
                <button class="btn btn-primary" ng-click="submit()"> Submit </button>
            </div>
        </form>
    </div>
</div>