<h3 class="page-title">
    Articles overview
</h3>
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-green-sharp">
            <i class="fa fa-list font-green-sharp"></i> Article list
        </div>
        <div class="actions">
            <div class="btn-group btn-group-devided" data-toggle="buttons">
                <button-add ng-click="addArticle()"> 添加 </button-add>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>标题</th>
                    <th>来源</th>
                    <th>是否发布?</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in articles">
                    <td>{{item.Title}}</td>
                    <td>{{item.From}}</td>
                    <td>{{item.IsPublished}}</td>
                    <td>
                        <button-edit ng-click="goToDetail(item.Id)">编辑 </button-edit>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>