<!-- BEGIN PAGE BAR -->
<!--<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>{{pageHeader.crumbleTitle}}</span>
        </li>
    </ul>
</div>-->
<!-- BEGIN PAGE BAR -->
<!-- BEGIN PAGE TITLE -->
<h3 class="page-title">
    {{pageHeader.pageTitle}}
    <small ng-if="pageHeader.smallTitle.length>0">{{pageHeader.smallTitle}}</small>
</h3>
<!-- END PAGE TITLE-->