<div data-ng-controller="SidebarController" class="page-sidebar-wrapper ng-scope">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
            <!-- Dashborad -->
            <li class="active nav-item">
                <a href="#/home">
                    <i class="icon-home"></i>
                    <span class="title">
                        DASHBOARD
                    </span>
                    <span class="selected"></span>
                </a>
            </li>
            <!-- User -->
            <li  class="nav-item">
                <a href="#/user/overview">
                    <i class="fa fa-users"></i>
                    <span class="title">
                        用户
                    </span>
                    <span class="selected"></span>
                </a>
            </li>
        </ul>
    </div>
</div>
<style>
    .page-sidebar .page-sidebar-menu .sub-menu.open{
        display:block !important;
    }
</style>